*{
    box-sizing: border-box;
    margin:0;
}
body{
    display:flex;
    /*text-align: center;*/
    flex-direction: column;
    min-width:320px;
    
}
nav{
    position: fixed;
    top:0;
    background-color: #533A71;
    width:100%;
    z-index: 1;
}

.hamburger{
    text-decoration: none;
    font-size: 24px;
    display:flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;

} 
 
.menu{
    transition: all 0.5s;
    position:absolute;
    top: 40px;
    left:0px;
    width:30vw;    
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.hidden{
    left:-30vw;
}

nav li{
    background:#533A71;
    padding:.3em;
    font-family: 'Work Sans', sans-serif;
    display:block;
    padding: 1em;
    /* width:100%; */
    margin-bottom:.3em;    
}

nav li a{
    text-decoration:none;
    font-size: 18px;
}

nav li:hover{
    background-color: #966B9D;
}
nav a{
    color:#FBFEF9;
}


header{
    width: 100%;
    display: block;
    position: relative;  
}
header::after{
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    background-image: url("static/Portland-background.jpeg"); 
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#welcome{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25%;
    margin-bottom: 10%;
    /*font-weight: bold;
    color:black;*/

}
main h1{
font-family: 'Work Sans', sans-serif;
padding-bottom:10px;
font-size: 32px;
line-height: 40px;
text-align:center;
}
main p{
    font-family: 'Bitter', serif;
    font-size:20px;
    line-height: 24px;
}
#bio{
    background-color: #8884FF;
}
#bio img{
    display:block;
    margin:auto;
    width:75%;
    
}
.bioContainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
     /* margin-bottom: 25%; */
}
.bioContainer h1{
    font-family: 'Work Sans', sans-serif;
    margin-top: 60px;
    text-align: center;
    
}
.bioContainer p{
font-family: 'Bitter', serif;
padding-top:10px;
padding-bottom: 10px;
text-align: left;
line-height: 22px;

}

#projects{
    
   background-color: #8884FF;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projects img{
    width:75%;
    display:block;
    margin:auto;
}

#projects h1{
    font-family: 'Work Sans', sans-serif;
    margin-top: 60px;
    text-align: left;
}
.projectCardContainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25%; 
    background-color: #1B9AAA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
}
.projectsContainer{
    margin-top: 1rem;
    padding: 2rem 1.5rem;
}
.projectCardContainer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.projectsContainer h2{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.projectsContainer p{
    font-family: 'Bitter', serif;
    padding-top: 10px;
padding-bottom: 10px;
line-height: 22px;

}
.projectsContainer a:link{
    color:#FBFEF9
}
.projectsContainer a:visited{
    color:#FBFEF9
}
.projectsContainer a:hover{
    background-color: #966B9D
}
.project-card{
 padding:2em;   
}
#footer{
  background-color: #5E42A6;
  margin-left: 0;
 }
 .contact {
    margin:0;
 }

  .contact h1{
    font-family: 'Bitter', serif;
      text-align: center;
      padding:0;
  }
  .contact-icons{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;  
  }
  .contact-icons a:link {
    color: #0D0D0D;
}

  
  .contact-icons a:visited {
    color: #0D0D0D;
  }
.contact-icons a:hover{
    transition: all .2s;
-o-transition: all .2s;
-moz-transition: all .2s;
-webkit-transition: all .2s;
}
@media screen and (min-width:700px){
    body{
        display:flex;
        text-align: left;
        flex-direction: column;
    }

nav{
    position: fixed;
    top:0;
    width:100%;
}

.hamburger{
    display:none;
}
.menu{
    transition: none;
    position:relative;
    top:0px;
    left:auto;
    width:30vw;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: disc;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
   
}

/* section{
    display:flex;
    flex-direction: row;
} */
#welcome{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
main h1{
    font-size: 48px;
    line-height: 56px;
}
main p{
    font-size:24px;
    line-height: 30px;
}
#bio img{
    width:100%;
    
}
#bio>div{
    flex:1;
}
#bio>.bioContainer{
    flex:1;
}

.bioContainer h2{
    margin-top: 0px;
}
.bioContainer p{
line-height: 24px;
}
.column50{
    margin-bottom:0;
}
   
}
#projects img{
    width:100%;    
}

/* #projects>div{
    flex:1;
}

#projects>.projectsContainer{
    flex:1;
} */

/* .projectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
   
} */
.projectCardContainer{
    margin-left: 0.75rem;
    max-width: 55ch;
}
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width:1020px){
    body{
        display:flex;
        flex-direction: column;
        margin-left: 160px;
    }
    nav{
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #533A71;
        overflow-x: hidden;
        padding-top: 20px;
        
    }
    .menu{
        transition: none;
        position:relative;
        top:0px;
        left:auto;
        width:30vw;    
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        margin-block-start: auto;
        margin-block-end: auto;
        margin-inline-start: auto;
        margin-inline-end: auto;
        font-size:24px;
       
    }
    nav li{
        padding:0.3em;
    }
    .projectsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
       
    }
}

